@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



.pagination {
  justify-content: center;
  padding:10px;
}

  .alert {
    color:#262626;
    background:#FFEBE8;
    border:2px solid #990000;
    padding:12px;
    font-weight:850;
  }
  .alert ul {
    margin-top: 1rem;
  }

.card {
  border: none;
}


label {
  margin-bottom: 0;
}

.pagination span {
  padding:10px;
}

.image-area{
  height: 300px;
  background-image: url("/assets/keki.jpeg");
  background-size: cover;
  background-position: top center;
  width:100%;
  display: flex;
  align-items: center;
}

.text-area{
  background-color: rgba(245, 245, 245, 0.5);
  width:60%;
  margin:auto;
  height:50%;
  padding-top:20px;
}

footer{
  background-color:#f5f5f5;
}

a:hover {
 color:#0000ff;
}
/*
  background-color: #f5f5f5;

  background-color: #fffaf0;
  background-image: image-url('keki.jpeg');
  background-image: url("/images/keki.jpeg");
  background-image: url("<%= asset_path('keki.jpeg') %>")
  background-image: url("/images/keki.jpeg");
  background-image: url("/images/keki.jpeg");
  background-image: url(<%= asset_path "keki.jpeg" %>);
  background-image: asset-url('keki.jpeg');
   style="background-image: url('/assets/keki.jpeg')"
*/